.add_person {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 500px;
    }
    &__label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &__input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    &__button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 500px;
    }
}
button {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(16, 182, 204);
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: rgb(233, 138, 49);
    }
}
::placeholder {
    font-family: "Courier New", Courier, monospace;
}
